# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# Environment Files
.env
client/.env
server/.env

# Build Files
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db